<div class="container-fluid mt-3">
  <h1 class="display-1 text-center">Flickr Feeds</h1>
  <app-search-box (search)="loadFeeds($event)"></app-search-box>

  <div class="row text-center " style="align-items: center;"  *ngIf="items">
    <div class="col-lg-3 col-md-4 col-6 text-center p-0 img-thumbnail border-secondary " *ngFor="let item of items">
      <a href="{{item.link}}" class="d-block h-100">
        <img class="img-fluid p-1" style="height: 300px" src="{{item.media.m.replace('_m.j', '_b.j')}}" alt="" />
      </a>
    </div>
  </div>
</div>

